.common-button {
    display: block;
    margin: 10px 0;
    width: fit-content;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    left: 50px;
    background-color: #6CC4FF;
    color: white;
    max-width: 200px;
}

.common-button:focus {
    outline: none;
}

.common-button:hover {
    cursor: pointer;
}

.common-button-inline {
    display: inline;
    margin: 10px 0;
    width: fit-content;
    border-radius: 50px;
    border: none;
    background-color: #6CC4FF;
    color: white;
    padding: 10px 20px;
    left: 50px;
    max-width: 200px;
}

.common-button-inline:focus {
    outline: none;
}

.common-button-inline:hover {
    cursor: pointer;
}

.common-button-inline.attention{
    background-color: #cd1515;

}

.admin-content {
    min-width: 900px;
}

.page-content {
    display: flex;
    justify-content: center;
}

.admin-list-item {
    padding: 20px 0;
    border-bottom: 2px solid #707070;
    display: flex;
    justify-content: space-between;
}

.admin-item-header {
    min-width: 300px;
}


.create-form-input {
    display: block;
    min-width: 900px;
    margin: 10px 0px;
    padding: 10px 20px;
}

.create-form-textarea {
    min-height: 300px;
    resize: none;
}

.create-form-time {
    display: block;
    min-width: 300px;
    margin: 10px 0px;
    padding: 10px 20px;
}