.footer-body {
    background-color: black;
    height: 150px;
    padding: 10px;
}

.language-select {
    padding: 5px 5px 0px;
}

.language-wrapper {
    width: 100px;
    display: flex;
    flex-direction: column;
}

button {

}

form {

}