.badge {
    min-width: 900px;
    background-color: #F5F5F5;
    border-radius: 30px;
    color: #707070;
    padding: 20px;
    margin: 20px 0;
}

.page-content {
    display: flex;
    justify-content: center;
}

.badge-link {
    color: #242424;
    height: fit-content;
}

.vacancies-container {
    max-width: 900px;
}