.navbar-link {
    color: #707070;
    font-family:"Times New Roman", serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.navbar-link:hover {
    border-bottom: 2px solid #707070;
}



.language-header {
    color: white;
    font-family:"Times New Roman", serif;
    font-weight: bold;
    font-size: 25px;
}

.language {
    color: white;
    font-family:"Times New Roman", serif;
    font-weight: lighter;
    font-size: 20px;
    background-color: black;
    border: none;
    margin: 5px 0 0;
}

.language:hover {
    cursor: pointer;
}

.auth-header {
    font-family:"Times New Roman", serif;
    font-weight: bolder;
    font-size: 30px;
}

.auth-input {
    font-family:"Times New Roman", serif;
    font-weight: normal;
    color: #707070;
    font-size: 20px;
}

.common-button {
    font-family:"Times New Roman", serif;
    font-weight: bolder;
    font-size: 20px;
}

.auth-error {
    color: #E02537;
    font-family:"Times New Roman", serif;
    font-weight: lighter;
    font-size: 15px;
}

.header {
    font-family:"Times New Roman", serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.description {
    font-family:"Times New Roman", serif;
    font-weight: normal;
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.secondary {
    font-family:"Times New Roman", serif;
    font-weight: lighter;
    font-size: 15px;
}
.secondary-profile {
    font-family:"Times New Roman", serif;
    font-weight: lighter;
    font-size: 20px;
}

.secondary-input {
    position: absolute;
    float: left;
    color: #0e4ac2;
}

.error-page-message {
    font-family:"Times New Roman", serif;
    font-weight: bold;
    font-size: 30px
}

.secondary-vacancy{
    font-family:"Times New Roman", serif;
    font-weight: lighter;
    font-size: 25px;
    color: #10307f;
}